body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #f9faf8;
}

.app-parent {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-parent {
  padding: 0 10rem 0 10rem;
  background-color: #1f2937;
}

header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  margin: 2rem 0 0 0;
  filter: invert();
}

.header-links-cont {
  display: flex;
  align-items: center;
}

.header-link {
  margin: 0 0 0 1rem;
  font-size: 18px;
  color: #f9faf8;
  text-decoration: none;
}

.hero-cont,
.information-cont,
.quote-cont,
.action-cont {
  min-height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-cont-info {
  width: 50%;
  min-height: 15rem;
}

.hero-cont-main-text {
  margin: 0;
  padding: 0 5rem 0 0;
  font-size: 48px;
  font-weight: 800;
}

.hero-cont-secondary-text {
  margin: 0;
  padding: 0 5rem 0 0;
  font-size: 18px;
  color: #e5e7eb;
}

button {
  width: 7rem;
  height: 2rem;
  margin: 1rem 0 0 0;
  font-size: 15px;
  font-weight: 600;
  color: #f9faf8;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  transition: filter 300ms;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.hero-cont-image {
  min-height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information-cont {
  margin: 3rem 0 3rem 0;
  flex-direction: column;
  justify-content: flex-start;
}

.information-cont-header-text {
  margin: 2rem 0 6rem 0;
  font-size: 40px;
  font-weight: 800;
  color: #1f2937;
}

.information-cont-image-parent {
  width: 80%;
  min-height: 30rem;
  display: flex;
  justify-content: space-evenly;
}

.information-cont-image-cell-cont {
  width: 16rem;
}

.information-cont-image-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.information-cont-image-cell-cont h4 {
  margin: 1rem 0 1rem 0;
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.information-cont-image-cell-cont p {
  margin: 0 0 0 0;
  color: black;
  text-align: center;
}

.quote-cont {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
}

.quote-cont p {
  max-width: 70rem;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}
.quote-cont .author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: 800;
  font-style: normal;
}
.action-cont {
  min-height: 15rem;
  margin: 5rem 0 0 0;
  align-items: baseline;
}

.action-info-cont {
  width: 50%;
  height: 9rem;
  padding: 0 10% 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  border-radius: 10px;
}

.action-info-cont div {
  display: flex;
  flex-direction: column;
}

.action-info-cont h4 {
  margin: 0;
  font-size: 18px;
}

.action-info-cont p {
  margin: 0.5rem 0 0 0;
  font-size: 16px;
  font-weight: 300;
}

.action-info-cont button {
  margin: 0;
  border: 2px solid #e5e7eb;
}

footer {
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
}
footer h4 {
  font-weight: 300;
}
